<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noi Chu</title>
    <link rel="stylesheet" href="../css/room.css">
</head>
<script src="/socket.io/socket.io.js"></script>

<body>

    <div class="game">
        <h1>Nối chữ chill chill</h1>

        <div id="game-board">
            <div id="countdown-circle">
                <div id="progress-bar"></div>
                <div id="time-text">10</div>
            </div>

            <p id="player-turn">Player 1's turn</p>
            <p id="previous-word">No previous word</p>
            <p id="word-start">Empty</p>
            <input id="input-field" type="text" placeholder="Enter a word">
            <button id="start-button">START</button>

        </div>
    </div>

    <div class="try-again-modal hidden">
        <h1 class="winner-text">Player X wins!</h1>
        <h2>DO YOU WANT TO TRY AGAIN?</h2>
        <a href="/noiChuOnl" class="yes-btn">YES</a>
        <a href="/" class="no-btn">NO</a>
    </div>


    <script src="../javascript/room.js"></script>
</body>

</html>